https://github.com/josephsl/wxpy32whl/releases/download/4.2.0/wxPython-4.2.0-cp310-cp310-win32.whl
pytest
coverage
wheel
future
configobj
markdown
requests
oauthlib
requests-oauthlib
requests-toolbelt
pypubsub
geopy
arrow
python-dateutil
winpaths
PySocks
win_inet_pton
# Install the latest RC of this lib
# see https://github.com/ssut/py-googletrans/issues/234
googletrans==4.0.0-rc1
idna<3,>=2.5
chardet
urllib3
python-vlc
pypiwin32
pywin32
certifi
backports.functools_lru_cache
tweepy
twitter-text-parser
mastodon.py
pyenchant
sqlitedict
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
rfc3986
sniffio
attrs
importlib-metadata
numpy
pillow
charset-normalizer
demoji
psutil
yt-dlp
pyinstaller
git+https://github.com/accessibleapps/libloader
git+https://github.com/accessibleapps/platform_utils
git+https://github.com/accessibleapps/accessible_output2
git+https://github.com/accessibleapps/sound_lib
